@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Clear Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ClearSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Clear Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ClearSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Clear Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/ClearSans-Light.woff") format("woff");
}
