@import "variables.scss";

.main-index {
  width: 100%;
}

.main-index__header {
  width: 100%;
  max-height: 700px;
}

.main-index__section {
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
}



@media (min-width: $desktop-width) {

}

@media (max-width: $mobile-width) {

}
