// fonts
$Open-sans: "Open Sans", "Arial", sans-serif;
$Clear-sans: "Clear Sans", "Arial", sans-serif;

// colors
$text-gray: #333333;
$light-text-gray: #efefef;
$white: #ffffff;
$black: #000000;
$discount-green: #41906d;
$disabled-gray: #dadada;

$dark-bg-gray: #5b6460;
$hover-dark-bg-gray: #808e88;
$light-bg-gray: #e9ece0;
$hover-light-bg-gray: #b7baaf;
$darkening-gray: #3e443e;
$pagination-light-grey: #dcdcdc;

// screen sizes
$mobile-width: 800px;
$min-mobile-width: 372px;
$desktop-width: 1408px;
