@import "../variables.scss";

.main-index {
  width: 100%;
}

.main-index__header {
  width: 100%;
  max-height: 700px;
}

.main-index__section {
  box-sizing: border-box;
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
}

.main-index__about{
  position: relative;
}

.main-index__about-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 559px;
  height: 40vw;
  overflow: hidden;
}

.main-index__about-image {
  display: block;
  margin: 0;
  padding: 0;
  width: 50%;
  height: auto;
  object-fit: cover;
  flex-grow: 0;
}

.main-index__about-link {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 157px;
  height: 157px;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 13px;

  border-radius: 50%;
  background-color: $light-bg-gray;

  font-family: $Clear-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  color: $text-gray;

  transform: translate(-50%, -50%);

  &:hover,
  &:active {
    background-color: $dark-bg-gray;
    color: $white;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-index__contacts {
  padding: 10.7vw 10vw 9.5vw 10vw;
}


@media (min-width: $desktop-width) {
  .main-index__contacts {
    padding: 150px 146px 133px 146px;
  }
}

@media (max-width: $mobile-width) {
  .main-index__about-link {
    width: 100px;
    height: 100px;
  }

  .main-index__contacts {
    padding: 7vw 6vw 5vw 6vw;
  }

}
