@import "../variables.scss";

.book-button {
  position: relative;
  display: flex;
}

.book-button-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: calc(8px + 2vw);
  flex-shrink: 0;
}

.book-button__description {
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-bg-gray;
  font-family: $Clear-sans;
  font-weight: 400;
  flex-shrink: 0;
}


.book-button__from,
.book-button__per-element {
  padding: 0;
  margin: 0;
  font-size: calc(6px + 0.6vw);
  line-height: 18px;
}

.book-button__per-element {
  text-align: right;
}

.book-button__price {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: calc(6px + 1vw);
  line-height: 140%;
  text-align: center;

  &::first-letter {
    font-weight: 400;
  }
}

@media (max-width: $mobile-width) {
  .book-button{
    width: 100%;
  }

  .book-button-link {
    width: auto;
    flex-grow: 1;
  }

  .book-button__from,
  .book-button__per-element {
    font-size: calc(10px + 0.6vw);
    line-height: 140%;
  }

  .book-button__price {
    font-size: calc(12px + 0.5vw);

    &::first-letter {
      font-weight: 400;
    }
  }
}
